<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.jd.mapper.ProductPicInfoMapper" >
  <resultMap id="BaseResultMap" type="org.lanqiao.jd.entity.ProductPicInfo" >
    <id column="product_pic_id" property="productPicId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="is_master" property="isMaster" jdbcType="TINYINT" />
  </resultMap>
<!--  查询图片-->
  <select id="selectPic" resultType="java.lang.String" parameterType="java.lang.Integer">
    select
    pic_url
    from product_pic_info
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <sql id="Base_Column_List" >
    product_pic_id, product_id, pic_url, is_master
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_pic_info
    where product_pic_id = #{productPicId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_pic_info
    where product_pic_id = #{productPicId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lanqiao.jd.entity.ProductPicInfo" >
    insert into product_pic_info (product_pic_id, product_id, pic_url, 
      is_master)
    values (#{productPicId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{picUrl,jdbcType=VARCHAR}, 
      #{isMaster,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.jd.entity.ProductPicInfo" >
    insert into product_pic_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productPicId != null" >
        product_pic_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="isMaster != null" >
        is_master,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productPicId != null" >
        #{productPicId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="isMaster != null" >
        #{isMaster,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.jd.entity.ProductPicInfo" >
    update product_pic_info
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="isMaster != null" >
        is_master = #{isMaster,jdbcType=TINYINT},
      </if>
    </set>
    where product_pic_id = #{productPicId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.jd.entity.ProductPicInfo" >
    update product_pic_info
    set product_id = #{productId,jdbcType=INTEGER},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      is_master = #{isMaster,jdbcType=TINYINT}
    where product_pic_id = #{productPicId,jdbcType=INTEGER}
  </update>
</mapper>